In [1]:
import pandas

In [2]:
db=pandas.read_csv('marks.csv')

In [3]:
db

    name  hrs  marks
0  vimal    7     70
1  rahul    5     50
2   eric    8     80
3  harry    2     20

In [4]:
type(db)

pandas.core.frame.DataFrame

In [5]:
y=db["marks"]

In [6]:
y

0    70
1    50
2    80
3    20
Name: marks, dtype: int64

In [7]:
#feature/independent variable
x=db["hrs"]

In [8]:
x

0    7
1    5
2    8
3    2
Name: hrs, dtype: int64

In [9]:
type(x)

pandas.core.series.Series

In [10]:
z=x.values

In [11]:
z

array([7, 5, 8, 2], dtype=int64)

In [12]:
type(z)

numpy.ndarray

In [13]:
x=z.reshape(4,1)

In [14]:
x

array([[7],
       [5],
       [8],
       [2]], dtype=int64)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
mind = LinearRegression()

In [ ]:
mind.fit(x,y)

In [ ]:
mind.predict([[6]])

In [ ]:
import joblib

In [ ]:
joblib.dump(mind, 'marks.pk1')